.countryPage {
  color: #f8f8ff;
  flex-grow: 1;
  padding-top: 30px;
}

.countryHeader {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f8f8ff;
  letter-spacing: 3px;
  font-size: clamp(1rem, 2rem, 3rem);
  place-self: center;
}

.countryImageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
}

.countryHeader, .countryFlag, .countryCoatOfArms {
  padding: 0;
}

.countryHeader {
  text-align: center;
  width: 100%;
  padding-left: 30px;
}

.countryCoatOfArms, .countryFlag {
  place-self: center;
}

.countryFlag, .countryCoatOfArms {
  display: flex;
  justify-content: center;
}

.countryFlag img, .countryCoatOfArms img {
  display: block;
  max-height: 300px;
  max-width: 100%;
}

.countryFlag img {
  border: 1px solid rgba(78, 77, 77, 0.4);
}

.countryFacts {
  --gap: 0em;
  --line-thickness: 2px;
  --line-colour: #000012;
  --line-offset: calc(var(--gap) / 2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(min-content, 1fr);
  gap: var(--gap);
  margin: 0 30px 30px;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid var(--line-colour);
  overflow: hidden;
  background: linear-gradient(0deg, rgba(18, 190, 115, 0.2) 0%, rgba(12, 161, 226, 0.4) 100%);
}

.countryFacts > .factContainer::before,
.countryFacts > .factContainer::after {
  content: "";
  background-color: var(--line-colour);
  position: absolute;
}

.countryFacts > .factContainer {
  position: relative; 
  padding: 1.5em;
}

.countryFacts > .factContainer::after {
  inline-size: 100vw;
  block-size: var(--line-thickness);
  inset-block-start: calc(var(--line-offset) * -1);
  inset-inline-start: 0;
}

.countryFacts > .factContainer::before {
  inline-size: var(--line-thickness);
  block-size: 100vh;
  inset-block-start: 0;
  inset-inline-start: calc(var(--line-offset) * -1);
}

.factContainer {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.factContainer:hover {
  background: rgb(197, 143, 55);
}

.countryFactsHeader {
  font-family: "Bruno Ace SC", sans-serif;
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.countryBorder, .countryCurrency {
  list-style-type: none;
  padding-left: 0;
}

.factContainer ul {
  padding-left: 20px;
}

.factSubheader{
  font-weight: 500;
}

.countryFactsInfo {
  font-size: 1.2rem;
}

@media (min-width: 340px) and (max-width: 767px) {

  .countryPage {
    padding-top: 0;
  }

  .countryHeader {
    padding-left: 0;
  }

  .countryImageContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .countryCoatOfArms {
    padding-top: 30px;
  }

  .countryFactsHeader{
    font-size: 1.5rem;
  }

  .countryFactsInfo {
  font-size: 1.5rem;
  }
}