.footer {
  background-color: #000012;
  color: #C58F37;
  text-align: center;
  padding: 16px;
  letter-spacing: 3px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}