.globeContainer {
  display: flex;
  min-height: 0;
  overflow: hidden;
  pointer-events: auto;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .globeContainer {
    place-items: center;
  }
}