.cardContainer {
  width: 290px;
  height: 300px;
  perspective: 1000px;
  text-decoration: none;
}

.card {
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(242, 185, 9) 10%, rgb(245, 128, 6) 90%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  corner-top-right-shape: scoop;
  border-top-right-radius: 100px;
}

.cardGlass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.4) 100%);
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid snow;
  border-bottom: 1px solid snow;
  transition: all 0.5s ease-in-out;
}

.cardContent {
  padding: 70px 60px 0px 30px;
  transform: translate3d(0, 0, 26px);
}

.cardTitle {
  display: block;
  color: #00626f;
  font-weight: 700;
  font-size: 1.5rem;
}

.cardCapital, .cardPopulation {
  display: block;
  color: rgba(0, 98, 111, 0.8); 
  font-size: 1rem;
  margin-top: 20px;
}

.cardInfoTitle {
  font-weight: 700;
}

.readMore {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: end;
  transition: all 0.2s ease-in-out;
  padding: 10px 12px;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 20px;
  left: 50px;
  right: 20px;
  transform: translate3d(0, 0, 26px);
}

.readMoreButton {
  background: none;
  border: none;
  color: snow;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}

.readMoreButton:hover {
  transform: translate3d(0, 0, 10px);
}

.readMore .svg {
  fill: none;
  stroke: #00c37b;
  stroke-width: 3px;
  max-height: 15px;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
}

.countryFlag {
  position: absolute;
  right: -40px;
  top: -40px;
  transform-style: preserve-3d;
  corner-bottom-left-shape: scoop;
  border-bottom-left-radius: 50px;
}

.cardCircle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  top: 0;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
  backdrop-filter: blur(2px);
  background: linear-gradient(100deg, rgb(242, 185, 9) 10%, rgb(245, 128, 6) 90%);
  transition: all 0.5s ease-in-out;
  corner-bottom-left-shape: round;
  border-bottom-left-radius: 100px;
}

.circle1 {
  width: 90px;
  transform: translate3d(0, 0, 40px);
  top: 45px;
  right: 45px;
  backdrop-filter: blur(1px);
  transition-delay: 0.2s;
}

.circle2 {
  width: 70px;
  transform: translate3d(0, 0, 60px);
  top: 48px;
  right: 48px;
  transition-delay: 0.3s;
}

.circle3 {
  width: 50px;
  transform: translate3d(0, 0, 80px);
  top: 52px;
  right: 52px;
  transition-delay: 0.4s;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-top: 5px;
}

.cardContainer:hover .card {
  transform: rotate3d(1, 1, 0, 30deg);
}

.cardContainer:hover .card .readMore {
  transform: translate3d(0, 0, 50px);
}

.cardContainer:hover .card .countryFlag .circle1 {
  transform: translate3d(0, 0, 60px);
}

.cardContainer:hover .card .countryFlag .circle2 {
  transform: translate3d(0, 0, 80px);
}

.cardContainer:hover .card .countryFlag .circle3 {
  transform: translate3d(0, 0, 100px);
}

.cardContainer:hover .card .countryFlag .circle4 {
  transform: translate3d(0, 0, 120px);
}